{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>보험 상품 비교</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">상품 선택</h5>
                    <select class="form-control" id="product1">
                        <option value="">상품을 선택하세요</option>
                        {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">상품 선택</h5>
                    <select class="form-control" id="product2">
                        <option value="">상품을 선택하세요</option>
                        {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">상품 선택</h5>
                    <select class="form-control" id="product3">
                        <option value="">상품을 선택하세요</option>
                        {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="comparison-result" class="mt-4">
        <!-- 비교 결과가 여기에 표시됩니다 -->
    </div>
</div>
{% endblock %} 