{% extends 'base.html' %}

{% block title %}회원가입 - 고양이 정보 사이트{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2 class="mb-4">회원가입</h2>
        <form method="post">
            {% csrf_token %}
            <h4 class="mb-3">사용자 정보</h4>
            {{ user_form.as_p }}
            <h4 class="mb-3 mt-4">고양이 정보</h4>
            {{ pet_form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">가입하기</button>
        </form>
    </div>
</div>
{% endblock %} 